<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ description }}">
	<title>{{ company }}</title>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href="/styles/main.css" rel="stylesheet">
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner pure-menu pure-menu-horizontal" id="menu">
			<div class="brand">
				{{ company }}
			</div>
			<div class="spacer"></div>
			<ul id="navlist" class="pure-menu-list">
				<li class="pure-menu-item active"><a href="#intro" class="pure-menu-link">Home</a></li>
				<li class="pure-menu-item"><a href="#about" class="pure-menu-link">About</a></li>
				{{!-- <li class="pure-menu-item"><a href="#neighborlink" class="pure-menu-link">Neighborlink</a></li> --}}
			</ul>
		</div>
	</div>


	<header id="intro">
		<div class="header-content">
			<div class="header-content-inner">
				{{!– <img src="/images/logo.png" style="width:300px;height:auto"/> –}}
				<h1>CastleTech</h1>
				<p class="mantra">{{ description }}</p>
			</div>
		</div>
	</header>

	<section id="about" class="auto-height">
		<h2 class="section-heading">Philosophy</h2>
		<div class="content">
			<p>Empathy has been our driving force for millennia. It let us survive savannas full of predators by having us look out for one another. Harsh winters were overcome by cooperation during harvests and strategic provisioning during storms. Even today, with the zero-sum game of Capitalism devouring our one and only planet, we still find solace in organizations that achieve what we cannot do alone, for the future of our species – to ensure we have a future at all.</p>
			<p>We need to keep utilizing empathy in order to understand and work together to overcome the challenges facing us, and thrive despite them. One of those great challenges is a rapidly deteriorating environment due to global climate change caused by relatively recent human activity. In order to prevent further harm, one part of the solution is to build high-density, self-reliant housing projects that would significantly reduce (and potentially eliminate) ecological footprint and overall impact.</p>
		</div>
		<h2 class="section-heading">Mission</h2>
		<div class="content">
			<p>CastleTech exists to create compassionate software for dense urban living that enables considerate collaboration, the management and sharing of information, and informed decision-making at every level.</p>
			<p>With such tools in hand, communities can become more friendly and efficient, giving them new abilities to address the needs of their residents effectively. This will hopefully make urban living easier and more attractive, drawing more people into cities to live a healthier, more social life, encouraging empathy in everyone.</p>
		</div>
	</section>

	{{!-- <section id="neighborlink" class="parallax-window" data-parallax="scroll" data-image-src="/images/dense-urban.jpg">
		<div class="spacer"></div>
		<h2 class="nl-heading">Neighborlink</h2>
	</section> --}}

	{{!-- <section class="auto-height">
		<div class="content">
			<p class="lead text-muted">Our flagship product is an attempt at providing the platform required for the smooth operation of high-density housing projects such as condos and other common-interest developments. It's a system designed to facilitate easy collaboration amongst residents, as well as bringing transparency to the entire community regardless if it's self-governing or if there's third-party managers.</p>
			<p>Going beyond property management, it's the neighborly app for bringing your community together.</p>
			<a href="https://neighborlink.app" class="pure-button">
				Learn more
				<svg class="learn-more-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 31.49 31.49" xml:space="preserve">
					<path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z" fill="#FFFFFF"/>
				</svg>
			</a>
		</div>
	</section> --}}

	{{!-- <section id="openings" class="content dark">
		<div class="container">
			<h2 class="section-header">Sanity Check</h2>
			<p class="lead text-muted">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
					<a href="#" class="btn btn-primary btn-lg">Check Now</a>
			</div>
		</div>
	</section> --}}

	<footer class="page-footer">
		<div class="small-print">
			<div class="container">
				<p>&copy; <span id="copy-year">2018</span> {{ company }}</p>
			</div>
		</div>
	</footer>

	<script src="/scripts/jquery-3.3.1.min.js"></script>
	<script src="/scripts/jquery.nav.min.js"></script>
	{{!-- <script src="/scripts/parallax.min.js"></script> --}}
	<script src="/scripts/custom.js"></script>
</body>
</html>